<div class="container-fluid">
    <h2>Equal Height</h2>
    <p>If one of the column is taller than the other, the rest will follow.</p>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col bg-success">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim volutpat qui. No malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud dolorem legendos mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia debet eu vel.</div>
      <div class="col bg-warning">.col</div>
      <div class="col bg-success">.col</div>
    </div>
  </div>
